body {
    padding: 20px;
    padding-top: 5px;
  
}

h2 {
    background-color: rgb(189, 185, 185);
    text-align: center;
}

#title {
    background-color: white;
}

.menu {
    width: auto;
    position: fixed;
}

a {
    display: grid;
    padding: 4px;
    border-style: solid;
    border-color: rgb(59, 58, 58);
    border-width: 2px;
    border-radius: 3px;
    background-color: rgb(200, 199, 199);
    margin-bottom: 8px;
    max-width:95%;
    text-decoration: none;
    color:black;
}

a:visited {
    color:black;

}

.content {
    margin-left: 320px;
    text-align: justify;
}

section {
    margin-bottom: 50px;
}








